{% extends "base.html" %}
{% block title %}
ब्लग 
{% endblock title %}
{% block content %}
<h1 class="text-center bg-black text-white">हाम्रो ब्लग संग्रह</h1>
<div class="container">
  <div class="row">
    {% for d in data %}
    <div class="col-md-4 mb-4"> 
      <div class="card" style="width:80%;"> 
        <img src="{{ d.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ d.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ d.subtitle }}</h6>
          <a href="{% url 'continue' d.id %}" class="btn btn-primary">थप पढ्नुहोस्</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
